<!DOCTYPE html>
<html>
  <head>
    <title>Brew Collective</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta property="og:image" content='<%= image_url "meta_image.png" %>'/>
    <meta property="og:description" content="A social media app that connects people through their drinking experiences"/>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('favicon.ico') %>

    <script type="text/javascript">
      window.brew_collective = "<%= image_url "brew_collective.png" %>"
      window.brew_collective_text = "<%= image_url "brew_collective_text.png" %>"
      window.homeLogo = "<%= image_url "home_logo.png" %>"
      window.bg = "<%= image_url "cheers.jpg" %>"
      window.show = "<%= image_url "show.jpg" %>"
      window.texture = "<%= image_url "texture.png" %>"
      window.paperTexture = "<%= image_url "paper-texture.png" %>"
      window.zeroCaps = "<%= image_url "zero_caps.png" %>"
      window.oneCap = "<%= image_url "one_cap.png" %>"
      window.twoCaps = "<%= image_url "two_caps.png" %>"
      window.threeCaps = "<%= image_url "three_caps.png" %>"
      window.fourCaps = "<%= image_url "four_caps.png" %>"
      window.fiveCaps = "<%= image_url "five_caps.png" %>"
      window.defaultBeer = "<%= image_url "default_beer.jpg" %>"
    </script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alatsi&family=Roboto&display=swap" rel="stylesheet">
</head>

  <body>
    <%= yield %>
  </body>
</html>
