<!DOCTYPE html>
<html>
  <head>
    <title>Kegger</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('beer.ico') %>

    <script type="text/javascript">
      window.kegger = "<%= image_url "kegger.png" %>"
      window.bg = "<%= image_url "photo-1436076863939-06870fe779c2.jpg" %>"
      window.show = "<%= image_url "show.jpg" %>"
    </script>
    
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap" rel="stylesheet">    
<%= yield %>
  </body>
</html>
